In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [9]:
#reading data
df = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding='iso8859-1')
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [10]:
df.columns

Index(['Area Code', 'Area', 'Item Code', 'Item', 'Element Code', 'Element',
       'Unit', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'],
      dtype='object')

In [115]:
#6
grp = df.groupby("Element")
grp.first().sum()

Area Code                                                      75
Area            AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
Item Code                                                   51478
Item            PopulationCereals - Excluding BeerGrand TotalC...
Element Code                                                72523
Unit            1000 tonnes1000 tonnesg/capita/day1000 tonnes1...
Y2014                                                    74776.52
Y2015                                                    78990.43
Y2016                                                     78253.1
Y2017                                                    78155.03
Y2018                                                    84430.42
dtype: object

In [23]:
#8
count = 0
for i in df["Area"].unique():
    count += 1
print(count)

49

In [84]:
#10
h_area = df.groupby("Area")["Y2017"].sum().sort_values(ascending=False)
h_area#.sort_values(by = "Area" ascending=True)

Area
Nigeria                        1483268.23
Egypt                           866379.92
South Africa                    517590.54
Ethiopia                        448683.76
Morocco                         388495.36
Ghana                           337599.06
Algeria                         325644.27
United Republic of Tanzania     322616.85
Kenya                           264660.66
Sudan                           239931.92
Cameroon                        232030.43
Angola                          229159.57
CÃ´te d'Ivoire                   224599.01
Uganda                          213950.38
Malawi                          181098.71
Mozambique                      161407.98
Mauritania                      156665.46
Mali                            149928.33
Madagascar                      131197.73
Niger                           126707.58
Benin                           124771.22
Tunisia                         124167.20
Zambia                          103223.77
Burkina Faso                    101855.07
Guinea                           98138.87
Senegal                          95681.15
Zimbabwe                         75919.34
Rwanda                           73663.69
Chad                             71594.68
Sierra Leone                     55311.33
Eswatini                         54343.33
Mauritius                        51114.83
Togo                             49841.88
Congo                            41181.68
Central African Republic         29937.00
Namibia                          29874.89
Liberia                          29342.20
Gabon                            27979.64
Gambia                           23154.18
Djibouti                         22729.91
Botswana                         22101.30
Lesotho                          21267.96
Guinea-Bissau                    19102.77
Cabo Verde                       14650.74
Sao Tome and Principe            12662.63
Seychelles                         442.34
Comoros                             59.84
Sudan (former)                       0.00
Ethiopia PDR                         0.00
Name: Y2017, dtype: float64

In [68]:
#11
print(f"number of missing data in 2014 {df['Y2014'].isna().sum()}")
print(f"percentage of missing data in 2014 is {round((df['Y2014'].isna().sum()/df['Y2014'].count()) * 100, 3)}")

number of missing data in 2014 1589
percentage of missing data in 2014 is 2.677

In [76]:
#12
df_cor = df[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018', 'Element Code']]
#df_cor.corr()

                 Y2014     Y2015     Y2016     Y2017     Y2018  Element Code
Y2014         1.000000  0.994647  0.996081  0.995230  0.994872      0.024457
Y2015         0.994647  1.000000  0.995739  0.988048  0.988208      0.023889
Y2016         0.996081  0.995739  1.000000  0.992785  0.992757      0.023444
Y2017         0.995230  0.988048  0.992785  1.000000  0.998103      0.024254
Y2018         0.994872  0.988208  0.992757  0.998103  1.000000      0.024279
Element Code  0.024457  0.023889  0.023444  0.024254  0.024279      1.000000

In [77]:
#13
df.shape

(60943, 12)

In [79]:
#14
df.groupby("Area")["Y2017"].sum().sort_values()[:7]

Area
Sudan (former)               0.00
Ethiopia PDR                 0.00
Comoros                     59.84
Seychelles                 442.34
Sao Tome and Principe    12662.63
Cabo Verde               14650.74
Guinea-Bissau            19102.77
Name: Y2017, dtype: float64

In [95]:
#df.query("Element" == "Protein supply quantity (g/capita/day)")
df.loc[df["a"] == 1, "a"]

In [101]:
#15
mdgsc_df= df[["Area", "Element", "Y2015"]]
mdgsc_df.loc[(df["Area"] == "Madagascar") &
             (df["Element"] == "Protein supply quantity (g/capita/day)"), "Y2015"].sum().round(2)

173.05

In [103]:
#16
df["Y2017"].describe().round(2)

count     59437.00
mean        140.92
std        1671.86
min       -1582.00
25%           0.00
50%           0.10
75%           9.00
max      190873.00
Name: Y2017, dtype: float64

In [107]:
#df["Element"].unique()